@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: normal;
  src: local('Monaco'), url('Monaco.woff') format('woff');
}

body {
  margin: 0;
  font-family: 'Monaco';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom right, #8E005E, #333168);
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  pointer-events: none;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-height: 300px;
  min-width: 500px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.container * {
  z-index: 1;
}


.container::-webkit-scrollbar {
  display: none;
}

.btn {
  height: 40px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  font-family: 'Monaco';
}

.btn-corner {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 80px;
  background-color: #8830c4;
}

#sync {
  position: absolute;
  left: 15px;
  top: 15px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: white;
}

.enter-game {
  margin: 0px 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  color: white;
}

.enter-game .logo {
  width: 150px;
}

.enter-game h1 {
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.enter-game form {
  position: relative;
  padding-bottom: 40px;
}

.enter-game .form-control {
  margin: 30px 0px;
}

.enter-game .smth-wrong {
  position: absolute;
  top: -20px;
  color: red;
  width: 100%;
  text-align: center;
}

.enter-game .submit-btn {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 150px;
  background-color: lightgreen;
  border: 1px solid black;
}

.enter-game input {
  width: 100%;
  height: 40px;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  border: 3px solid white;
  font-family: 'Monaco';
}

.enter-game .kill-btn {
  padding: 0px 10px;
  margin: 20px 0px;
  background-color: #ff8686;
}

.enter-game .kills-sheet {
  width: 100%;
  border: 3px solid white;
  border-radius: 5px;
  margin: 10px;
  text-align: center;

}

.card {
  width: 100%;
  border: 5px solid white;
  border-radius: 5px;
  margin: 10px;
}

.card-inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.card-inner h1 {
  margin-right: 30px;
}

.card img {
  width: 100px;
}

.navbar {
  width: 100%;
  color: white;
  position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
  z-index: 100;
}

.navbar .item-adder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

.navbar .item-adder .fa-icons,
.navbar .item-adder .show-code {
  margin: 15px 0px;
  width: 100%;
}

.navbar .item-adder .show-code {
  padding-left: 10px;
}

.navbar .item-adder .fa-icons {
  display: flex;
  justify-content: space-around;
}

.navbar .item-adder svg {
  height: 32px;
  width: 32px;
  cursor: pointer;
  padding: 0px 8px;
}

.navbar .items-list-selector {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.navbar .items-list-selector .selector {
  background-color: black;
  border-left: 1px solid white;
  border-right: 1px solid white;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: pointer;
}

.navbar .items-list-selector .selector:first-child {
  border-left: 0px;
}

.navbar .items-list-selector .selector:last-child {
  border-right: 0px;
}

.navbar .items-list-selector .selector p {
  text-transform: capitalize;
}

.navbar .items-list-selector .selected {
  background-color: transparent;
  color: white;
  border-bottom: 1px solid transparent;
}

.items-list {
  margin: 0px 30px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items-list .item-inner svg {
  color: red;
  cursor: pointer;
  width: 35px;
  height: 35px;
  margin-right: 25px;
}


.item {
  width: 100%;
  border: 5px solid white;
  color: white;
  border-radius: 5px;
  margin: 10px;
}

.item-inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

#add-item-modal h2 {
  text-align: center;
}

#add-item-modal .form-control {
  margin: 25px 0px;
}

#add-item-modal .select-type-item {
  width: 100%;
  font-family: 'Monaco';
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  border: 3px solid white;
  text-align: center;
}

#add-item-modal input {
  width: 97%;
  height: 30px;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  border: 3px solid white;
  font-family: 'Monaco';
}

#add-item-modal .button-add-cancel {
  display: flex;
  justify-content: space-around;
}

#add-item-modal .button-add-cancel button {
  width: 80px;
}

#add-item-modal .button-add-cancel .btn-add,
.alert-confirm .btn-container .btn-yes {
  background: lightgreen;
}

#add-item-modal .button-add-cancel .btn-cancel,
.alert-confirm .btn-container .btn-no {
  background: #ff8686;
}

.alert-confirm {
  max-width: 300px;
}

.alert-confirm h1 {
  text-align: center;
}

.alert-confirm p {
  text-align: justify;
}

.alert-confirm .btn-container {
  display: flex;
  justify-content: space-around;
}

.alert-confirm .btn-container button {
  width: 80px;
  margin: 10px 0px;
}

@media (max-width: 550px) {
  .container {
    min-width: revert;
    width: 100%;
    border: 0px;
    border-radius: 0px;
    max-height: revert;
  }
}

@media (max-width: 450px) {
  .card-inner h1 {
    font-size: 25px;
  }
  .card-inner img {
    width: 75px;
  }
}